<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ahri Counter</title>
    <link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/champ.css">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <img id="bg" src="../image/champbg.jpg" alt="background">
    <section id="main">
      <img id="banner" src="./image/champsBanner/ahri.png" alt="champBanner">
      <img id="avatar" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
      <section id="content1">
        <section id="name">
          <h1>Ahri</h1>
          <h3>the Nine-Tailed Fox</h3>
        </section>
        <section id="enemytip">
          <h2>Enemy Tips</h2>
          <ul>
            <li>Ahri's survivability is dramatically reduced when her Ultimate, Spirit Rush, is down.</li>
            <li>Stay behind minions to make Charm difficult to land, this will reduce Ahri's damage potential significantly."</li>
          </ul>
        </section>
        <hr id="hr1">
      </section>
      <section id = "content2">
        <section id="name">
          <h1>Ahri</h1>
          <h3>is weak against</h3>
        </section>
        <section id="champsZone">
          <section id="ca1">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca2">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca3">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>

          <section id="ca4">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca5">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca6">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
        </section>
        <hr id="hr1">
      </section>
      <section id = "content3">
        <section id="name">
          <h1>Ahri</h1>
          <h3>is strong against</h3>
        </section>
        <section id="champsZone">
          <section id="ca1">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca2">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca3">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>

          <section id="ca4">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca5">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
          <section id="ca6">
            <img class="champ" src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
            <section class="infos">
              <p>Stats</p>
              <p class="smallFont">100W - 100L</p>
              <p class="smallMarginTop">Win Rate</p>
              <p class="smallFont">50.0%</p>
            </section>
          </section>
        </section>
        <hr id="hr1">
      </section>
      <section id="pageNumber">
        <i class="fa fa-caret-left" id="leftArrow" onclick="clickLeft()" aria-hidden="true"></i>
        <p id="p1" onclick="myClick(this)">1</p>
        <p id="p2" onclick="myClick(this)">2</p>
        <p id="p3" onclick="myClick(this)">3</p>
        <i class="fa fa-caret-right" id="rightArrow" onclick="clickRight()" aria-hidden="true"></i>
      </section>
    </section>
    <footer>
      <a href="#" class="bot">Term of Use</a>
      <p class="bot" id="f2">2017 COUNTER BUDDY All Rights Reserved&nbsp;&reg;</p>
      <a href="#" class="bot" id="f3">Contact Us</a>
    </footer>
    <script src = "./javascript/champ.js"></script>
    <script src="./javascript/jquery-3.1.1.min.js"></script>
  </body>
</html>
