<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter Buddy</title>
    <link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <img id="bg" src="../image/bg.jpg" alt="background">
    <section id="center">
      <h1 id="title" >Counter Buddy</h1>
      <input id="inputBar" type="text" placeholder="Search Champion's name...">
      <br>
      <section id="btngroup">
        <a href="#" id="searchBtn1" class="btn">Counter Search</a>
        <a href="#" id="searchBtn2" class="btn">Champion List&nbsp;</a>
      </section>
    </section>
    <footer>
      <a href="#" class="bot">Term of Use</a>
      <p class="bot" id="f2">2017 COUNTER BUDDY All Rights Reserved&nbsp;&reg;</p>
      <a href="#" class="bot" id="f3">Contact Us</a>
    </footer>
  </body>
</html>
