<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/search.css">
  </head>
  <body>
    <header>
      <h1><a href="index.html">Counter Buddy</a></h1>
      <input id="inputBar" type="text" placeholder="Search Champion's name...">
      <a href="#" id="searchBtn1" class="btn">Counter Search</a>
      <hr>
    </header>
    <section id="main">
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>

      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>
      <section class="champ">
        <img src="./image/champsAvatar/ahri.jpg" alt="champAvatar">
        <p>Ahri</p>
      </section>

    </section>
    <section id="box"></section>
    <hr id="botline">
    <p id="botwords">2017 COUNTER BUDDY All Rights Reserved&nbsp;&reg;</p>
  </body>
</html>
